# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
android/.gradle/
android/local.properties
ios/.symlinks/
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Bot
bot/node_modules/
bot/temp/
bot/db.json
bot/package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
